.faculty-image{
  height: 100px;
  width: 100px;
  background-color: red;
  float: left;
}

.faculty-text{
  position: relative;
  top: 40px;
  left: 10px;
  width: auto;
}

.faculty-text p{
  margin-top: 0;
  margin-bottom: 0;
}

.big-container{
  height: 100%;
}

.faculty-item{
  margin-bottom: 90px;
  /*width: 50%;*/
}

@media(min-width: 768px){
  .faculty-column{
    width: 50%;
    display: inline;
  }
}

@media(max-width: 768px){
  .faculty-column{
    width: 100%;
    display: block;
  }
}

#faculty-column-left{
  float: left;
}

#heading{
  margin-bottom: 50px;
}
