.faculty-image{
  height: 100px;
  width: 100px;
  background-color: red;
  float: left;
}

.faculty-text{
  margin-left: 110px;
  vertical-align: baseline;
  position: relative;
  top: 40px;
  width: auto;
}

.big-container{
  height: 100%;
}

.faculty-item{
  margin-bottom: 90px;
  /*width: 50%;*/
}

@media(min-width: 768px){
  .faculty-column{
    width: 50%;
    display: inline;
  }
}

@media(max-width: 768px){
  .faculty-column{
    width: 100%;
    display: block;
  }
}

#faculty-column-left{
  float: left;
}
