.background{
    display: none;
    position: fixed;
    /*opacity: .4;*/
    z-index: -1;
  }


.background.active-back{
    display: block;
}

#page-content-wrapper{
  background: url(../photos/school.jpg);
  background-repeat: no-repeat;
  background-position: left top
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height:100%;
  width:100%;
}

#wrapper{
  height:100%;
}
